*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Montserrat', sans-serif;
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: #45c3d2;
    color: white;
    &-arrow{
        cursor: pointer;
    }
    &-navbar{
        display: flex;
        cursor: pointer;
    }
   &-support{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   &-bar{
        display: flex;
        align-items: center;
        font-size: 24px;
        justify-content: center;
        padding-left: 15px;
   }
   &-question{
        text-align: center;
        justify-content: center;
     & i {
        font-size: 20px;
     }  
        
   }
   &-support_text{
        padding-top: 10px;
   }
}
.picture{
    width: 53%;
    height: 250px;
    margin: 0 auto;
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.name{
    width: 53%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-avatar{
        width: 100px;
        height: 100px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &-info {
        margin-left: 20px;
        & h2 {
            font-size: 30px;
            font-weight: 500;
        }
        & span {
            display: block;
            margin-top: 15px;
            color: #666666;
        }
    }
}
.menu{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    box-shadow: 1px 2px 2px 5px rgba(0, 0, 0, 0.103);
    &-item{
        height: 100%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        & li a{
            color: black;
            display: block;
            margin: 0 20px;
            text-transform: uppercase;
            color: #757575;
        }
    }
}